.hidden {
  display: none;
}

.pile {
  height: 100px;
}

img {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  height: 100px;
}

button {
  display: inline-block;
}